<div
  id="product-info-card"
  class="product__info-wrapper grid__item{% if settings.page_width > 1400 and section.settings.media_size == "small" %} product__info-wrapper--extra-padding{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} product-grid-item pdp-description"
>
  <div class="product__title" {{ block.shopify_attributes }}>
    <p>{{ product.title | escape }}</p>
    <a href="{{ product.url }}" class="product__title ">
      <h2 class="h1">
        {{ product.title | escape }}
      </h2>
    </a>
  </div>
  <product-info
    id="ProductInfo-{{ section.id }}"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    class="product__info-container{% if section.settings.enable_sticky_info %} product__column-sticky{% endif %}"
  >
    {%- assign product_form_id = 'product-form-' | append: section.id -%}

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'text' -%}
          {% comment %}
            <p
              class="product__text inline-richtext{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
              {{ block.shopify_attributes }}
            >
              {{- block.settings.text -}}
            </p>
          {% endcomment %}
          {% comment %}
            {%- when 'title' -%}
            <div class="product__title" {{ block.shopify_attributes }}>
              <p>{{ product.title | escape }}</p>
              <a href="{{ product.url }}" class="product__title ">
                <h2 class="h1">
                  {{ product.title | escape }}
                </h2>
              </a>
            </div>
          {% endcomment %}

        {%- when 'description' -%}
          <div class="product__description" {{ block.shopify_attributes }}>
            <p>{{ product.description }}</p>
          </div>
      {%- endcase -%}
    {%- endfor -%}
    <a href="{{ product.url }}" class="link product__view-details animate-arrow">
      {{ 'products.product.view_full_details' | t }}
      {% render 'icon-arrow' %}
    </a>
  </product-info>
</div>
